/* You can add global styles to this file, and also import other style files */

$white: #fbfbfb;
$blue: #3e989b;
$green: #6db465;
$yellow: #f2c14e;
$red: #f78154;
$gray: gray;
$shadowColor: rgba(0, 0, 0, 0.5);

html,
body {
	height: 100vh;
	width: 100vw;
}
body {
	margin: 0;
	font-family: "Capriola", sans-serif;
}
