/* You can add global styles to this file, and also import other style files */

$white: #fbfbfb;
$black: black;
$blue: #3e989b;
$green: #6db465;
$yellow: #f2c14e;
$red: #f78154;
$gray: gray;
$shadowColor: rgba(0, 0, 0, 0.5);

html,
body {
	height: 100vh;
	width: 100vw;
}
body {
	margin: 0;
	font-family: "Capriola", sans-serif;
}

.no-padding,
.no-padding .mat-dialog-container {
	padding: 0 !important;
}

.card {
	align-items: center;
	border: 1px solid $gray;
	border-radius: 10px;
	margin: 1.5rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.card-title {
		color: black;
		font-size: 24px;
		font-weight: 500;
		margin-bottom: 2rem;
		text-align: center;
	}
}

.snack {
	background-color: $blue;
	color: $black;

	&-success {
		background-color: $green;
		color: $black;
	}

	&-error {
		background-color: $red;
		color: $white;
	}

	&-warning {
		background-color: $yellow;
		color: $black;
	}
}
