@import "../../../../styles.scss";

:host {
	display: flex;
	flex-direction: column;
	height: 100%;

	app-header {
		flex: 0 0 56px;
	}

	.content {
		flex: 1 1 auto;
		overflow-y: auto;

		.card {
			align-items: center;
			border: 1px solid $gray;
			border-radius: 10px;
			margin: 1.5rem;
			padding: 1rem;
			display: flex;
			flex-direction: column;
			justify-content: center;

			.card-title {
				color: black;
				font-size: 24px;
				font-weight: 500;
				margin-bottom: 2rem;
				text-align: center;
			}

			.full-width-btn {
				margin-top: 0.5rem;
				width: 75%;
				padding: 0.25rem;
			}

			&.avatar {
				.username-field {
					width: 100%;
					margin-bottom: 1rem;
				}
			}

			&.password {
				.card-content {
					display: flex;
					flex-direction: column;
					align-items: center;

					.old-password-field,
					.password-field,
					.repeat-password-field {
						margin-bottom: 1rem;
					}
				}
			}
		}
	}
}
