:host {
	display: block;
	height: 100%;

	.link-list {
		padding: 2rem 0.5rem;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-end;

		.link {
			font-size: 120%;
			font-weight: 500;
			color: red;
			background-color: blueviolet;
			padding: 0.5rem;
			padding-left: 1rem;
			cursor: pointer;
		}
	}
}
