<div class="link-item" [routerLink]="'/game'">
	<div class="container">
		<mat-icon class="icon">casino</mat-icon>
		<span class="title">Partite</span>
		<mat-icon class="arrow">chevron_right</mat-icon>
	</div>
</div>
<div class="link-item" [routerLink]="'/history'">
	<div class="container">
		<mat-icon class="icon">history</mat-icon>
		<span class="title">Storico</span>
		<mat-icon class="arrow">chevron_right</mat-icon>
	</div>
</div>
<div class="link-item" [routerLink]="'/groups'">
	<div class="container">
		<mat-icon class="icon">group</mat-icon>
		<span class="title">Gruppi</span>
		<mat-icon class="arrow">chevron_right</mat-icon>
	</div>
</div>
<div class="link-item" [routerLink]="'/options'">
	<div class="container">
		<mat-icon class="icon">account_circle</mat-icon>
		<span class="title">Opzioni</span>
		<mat-icon class="arrow">chevron_right</mat-icon>
	</div>
</div>
