@import "../../../../styles.scss";

$avatarSize: 48px;

:host {
	display: block;

	.current-avatar {
		width: $avatarSize;
		height: $avatarSize;
	}
}

.avatar-dialog {
	.title {
		font-size: 22px;
	}

	.avatars {
		display: inline-block;

		.avatar {
			width: $avatarSize;
			height: $avatarSize;

			&:hover {
				background-color: lighter($blue, 0.5);
			}

			&.selected {
				border: 1px solid lighter($blue, 0.5);
				border-radius: 10px;
			}
		}
	}
}
