<ng-container *ngIf="value as avatar; else noAvatarTemplate">
	<img [src]="avatar + '.png' | fromAssets: 'icons'" class="current-avatar" />
</ng-container>
<button mat-button type="button" (click)="openAvatarDialog()">Cambia</button>

<ng-template #noAvatarTemplate>
	<div class="no-avatar"></div>
</ng-template>

<ng-template #avatarSelector>
	<div class="title">Seleziona un avatar</div>
	<div class="avatars">
		<img
			*ngFor="let avatar of avatarList"
			(click)="selectAvatar(avatar)"
			[src]="avatar + '.png' | fromAssets: 'icons'"
			class="avatar"
			[class.selected]="avatar === value" />
	</div>
</ng-template>
