@import "../../../../styles.scss";

$avatarSize: 48px;

:host {
	display: block;

	.current-avatar,
	.no-avatar {
		width: $avatarSize;
		height: $avatarSize;
	}

	.no-avatar {
		border: 1px solid $gray;
		border-radius: 10px;
		font-size: 32px;
		margin: 4px;
		color: $grey;

		&:after {
			content: "?";
		}
	}
}

.avatar-dialog {
	.title {
		font-size: 22px;
	}

	.avatars {
		display: inline-block;

		.avatar {
			width: $avatarSize;
			height: $avatarSize;

			&:hover {
				background-color: lighter($blue, 0.5);
			}

			&.selected {
				border: 1px solid lighter($blue, 0.5);
				border-radius: 10px;
			}
		}
	}
}
